<%= form_for(@therapist) do |f| %>
  <% if @therapist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@therapist.errors.count, "error") %> prohibited this therapist from being saved:</h2>

      <ul>
      <% @therapist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pt_id %><br>
    <%= f.number_field :pt_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_area :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
