<p id="notice"><%= notice %></p>

<h2>Hi there! I'm going to help you find a relevant therapist.</h2>

<%= form_tag url_for(controller: 'therapists', action: 'search'), method: 'get' do %>
    <%= label_tag(:query, "Please list some keywords that you feel are related to the problem you're having. Don't hold back, anything helps!") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Go") %>
<% end %>