<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Specialties</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @therapists.each do |therapist| %>
      <tr>
        <td><%= link_to therapist.name, therapist, id: therapist.therapist_id %></td>
        <% if therapist.th_location.empty? %>
            <td>No location provided.</td>
        <% else %>
            <td>
              <p><%= therapist.th_location.first.addr %></p>
              <p><%= therapist.th_location.first.zip %>, CA</p>
            </td>
        <% end %>
        <% if therapist.th_specialty.empty? %>
            <td>No specialties information.</td>
        <% else %>
            <td>
              <% therapist.th_specialty.each do |s| %>
                  <li><%= s.specialty %></li>
              <% end %>
            </td>
        <% end %>
        <% if therapist.th_insurance.empty? %>
            <td>No insurance information available.</td>
        <% else %>
            <td>
              <p><%= therapist.th_insurance.first.insurance %></p>
            </td>
        <% end %>
        <td><%= therapist.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Therapist', new_therapist_path %>
