<p id="notice"><%= notice %></p>

<!--this is where you pass the search text into Vanessa's file-->
<%= @therapists = getCategoriesAndTherapists(query) %>

<!--to display the therapist-->
<tbody>
<% @therapists.each do |therapist| %>
    <tr>
      <td><%= therapist.pt_id %></td>
      <td><%= therapist.name %></td>
      <td><%= therapist.summary %></td>
      <td><%= therapist.phone %></td>
      <td><%= link_to 'Show', therapist %></td>
      <td><%= link_to 'Edit', edit_therapist_path(therapist) %></td>
      <td><%= link_to 'Destroy', therapist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</tbody>