<p id="notice"><%= notice %></p>

<% if @concerns.include? 'suicidal ideation'%>
  <div class="alert alert-danger">
    <strong>You can get help now</strong> by calling the National Suicide Prevention LifeLine at 1-800-273-8255.
  </div>
<% end %>

<h2 class="result_header">Here are some therapists we think you should check out, ordered by relevance to your concerns.</h2>
<p class ="result-text">Top three categories: <b><%= @concerns[0]%></b>, <b><%= @concerns[1]%></b>, and <b><%= @concerns[2]%></b>.</p>

<!--to display the therapist-->
<div class="row-fluid grid">
  <ul>
  <% puts @search_therapists %>
  <% @search_therapists.each do |therapist| %>
    <% therapist = @therapists.find_by therapist_id: therapist%>
      <li>
        <div class="small-hero-unit">
          <h4><%= link_to therapist.name, therapist, id: therapist.therapist_id %></h4>
          <%= image_tag therapist.th_photo.img_url, class: "img-circle" %>
          <p id="phone-column"><%= number_to_phone(therapist.phone, area_code: true) %></p>
        </div>
      </li>
  <% end %>
  </ul>
</div>