<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li>
          <%= image_tag "jean.jpg", class: "img-rounded" %>
        </li>
        <li class="nav-header">Quick Information</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="nav-header">Useful Links</li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="nav-header">Rollin' With the Homiezzz</li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div class="hero-unit">
      <h1><%= @therapist.name %></h1>
      <!--<h3>@therapist.title</h3>-->
      <p><%= @therapist.summary %></p>
    </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>About</h2>
          <ul class="therapist-list">
            <li><b>Phone</b>: <%= @therapist.phone %></li>
            <li><b>Qualifications</b>: </li>
            <li><b>Age:</b> </li>
            <li><b>Ethnicity:</b> </li>
          </ul>
        </div>
        <div class="span4">
          <h2>Location</h2>
          <% @therapist.th_location.each do |l| %>
            <p><%= l.addr %></p>
            <p><%= l.zip %></p>
          <% end %>
          <p><a class="btn" href="#">Show Map &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Specialties</h2>
          <ul class="therapist-list">
          <% @therapist.th_specialty.each do |s| %>
            <li><%= s.specialty %></li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Treatment Approach</h2>
          <ul class="therapist-list">
          <% @therapist.th_treatment_orientation.each do |t| %>
            <li><%= t.orientation %></li>
          <% end %>
          <% @therapist.th_modality.each do |m| %>
            <li><%= m.modality %></li>
          <% end %>
          </ul>
        </div>
        <div class="span4">
          <h2>Finances</h2>
          <ul class="therapist-list">
          <% @therapist.th_insurance.each do |i| %>
            <li><%= i.insurance %></li>
          <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>