<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li>
          <%= image_tag @therapist.th_photo.img_url, class: "img-rounded" %>
        </li>
        <li class="nav-header">Contact</li>
        <li>
          <% if @therapist.phone.empty? %>
            <li>No contact provided.</li>
          <% else %>
            <p>Phone: <%= @therapist.phone %></p>
          <% end %>
        </li>
        <li class="nav-header">Location</li>
        <% if @therapist.th_location.empty? %>
            <p>No location available.</p>
        <% else %>
          <% @therapist.th_location.each do |l| %>
            <li><%= l.addr %></li>
            <li><%= l.zip %>, CA</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div class="hero-unit">
      <h1><%= @therapist.name %></h1>
      <!--<h3>@therapist.title</h3>-->
      <p id="therapist-summary"><%= @therapist.summary %></p>
    </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Contact</h2>
          <ul class="therapist-list">
            <% if @therapist.phone.empty? %>
              <li>No contact information.</li>
            <% else %>
              <p>Phone: <%= @therapist.phone %></p>
            <% end %>
          </ul>
        </div>
        <div class="span4">
          <h2>Location</h2>
          <% if @therapist.th_location.empty? %>
            <p>No location available.</p>
          <% else %>
            <% @therapist.th_location.each do |l| %>
              <p><%= l.addr %></p>
              <p><%= l.zip %>, CA</p>
              <p><a class="btn" target="_blank" href="http://maps.google.com/?q=<%= l.addr + ' ' + l.zip.to_s %>">Show Map &raquo;</a></p>
            <% end %>
          <% end %>
        </div>
        <div class="span4">
          <h2>Specialties</h2>
          <ul class="therapist-list">
          <% if @therapist.th_specialty.empty? %>
            <li>No specialty provided.</li>
          <% else %>
            <% @therapist.th_specialty.each do |s| %>
              <li><%= s.specialty %></li>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Treatment Approach</h2>
          <ul class="therapist-list">
            <% if @therapist.th_treatment_orientation.empty? %>
              <li>No treatment approach information.</li>
            <% else %>
              <% @therapist.th_treatment_orientation.each do |t| %>
                <li><%= t.orientation %></li>
              <% end %>
            <% end %>
            <% if @therapist.th_modality.empty? %>
              <li>No modalities information.</li>
            <% else %>
              <% @therapist.th_modality.each do |m| %>
                <li><%= m.modality %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="span4">
          <h2>Insurance</h2>
          <ul class="therapist-list">
            <% if @therapist.th_insurance.empty? %>
              <li>No insurance information.</li>
            <% else %>
              <% @therapist.th_insurance.each do |i| %>
                <li><%= i.insurance %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="span4">
          <h2>Issues</h2>
          <ul class="therapist-list">
            <% if @therapist.th_issue.empty? %>
              <li>No therapist issues provided.</li>
            <% else %>
              <% @therapist.th_issue.each do |i| %>
                <li><%= i.issue %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Categories</h2>
          <ul class="therapist-list">
            <% if @therapist.th_category.empty? %>
              <li>No therapist category provided.</li>
            <% else %>
              <% @therapist.th_category.each do |c| %>
                <li><%= c.category %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="span4">
          <h2>Sexuality Focus</h2>
          <ul class="therapist-list">
            <% if @therapist.th_sexuality_focus.empty? %>
              <li>No therapist sexuality focus provided.</li>
            <% else %>
              <% @therapist.th_sexuality_focus.each do |sf| %>
                <li><%= sf.sexuality %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="span4">
          <h2>Mental Health Focus</h2>
          <ul class="therapist-list">
            <% if @therapist.th_mental_health_focus.empty? %>
              <li>No therapist mental health focus provided.</li>
            <% else %>
              <% @therapist.th_mental_health_focus.each do |mhf| %>
                <li><%= mhf.focus %></li>
              <% end %>
            <% end %>
          </ul>
        </div>        
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Languages</h2>
          <ul class="therapist-list">
            <% if @therapist.th_language.empty? %>
              <li>No therapist languages provided.</li>
            <% else %>
              <% @therapist.th_language.each do |l| %>
                <li><%= l.language %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



